# Mac environment stuffs
.DS_Store
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Other
.config/
.jupyter/
.local/
.virtual_environments/

# Data 
*.nc 
*/*.nc

# Logging
*/qaqc_logs
*/qaqc_figs
*/merge_logs
*/timing
*/temp
*/local_qaqced_files
default_qaqc_log.log
default_merge_log.log