# Jan 13 2023, note this is the versioning that works for Victoria, needs confirmation by all
aioboto3==10.1.0
aiobotocore==2.4.0
beautifulsoup4==4.11.1
boto3==1.24.59
botocore==1.27.59
contextily==1.2.0
DateTime==4.4
dask==2022.8.1
ftputil==5.0.4
geopandas==0.11.1
h5netcdf==1.0.2
h5py==3.7.0
maptlotlib==3.5.3
netCDF4==1.6.0
openpyxl==3.0.10
pandas==1.5.0
pathlib2
redis==4.2.0
requests==2.28.1
s3fs==2022.11.0
s3transfer==0.6.0
Shapely==1.8.1.post1
xarray==2022.3.0
